$primary-color: #00ffff;
$primary1-color: #5683db;
$primary2-color: #6366f1;
$primary3-color: #2962eb;
$primary4-color: #5c9fdf;
$primary5-color: #6366f14d;
$linkedIn-color:#0077b5 ;
$primary-dark-color: #192230;
$primary-dark1-color: #02182fff;
$primary-dark2-color: #02182fff;
$primary-dark3-color: #1f2937;
$primary-dark4-color: #111827;
$primary-dark5-color: #11182780;

$light-gray: #d9dde5;
$primary-gray-color: #ffffff2b;

$white-color: #ffffff;
